<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Material Design for Bootstrap fonts and icons -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons"
    />

    <!-- Material Design for Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap-material-design.css')}}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600&family=Poiret+One&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css')}}"
    />
    <!-- Fontawesome -->
    <script
      src="https://kit.fontawesome.com/5abc5382f4.js"
      crossorigin="anonymous"
      async
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <title>{{title}}</title>
  </head>
  <body>
    <div class="container justify-content-between">
      <div class="jumbotron">
        <h1 class="display-4">Oops!</h1>
        <p class="lead">
          Oh dear... There's an internal server error.
        </p>
        <hr class="my-4" />
        <p class="lead">
          <a
            class="btn btn-primary btn-lg error-btn"
            href="{{url_for('home')}}"
            role="button"
            >Back to safety</a
          >
        </p>
      </div>
    </div>
  </body>
</html>
