<!-- Card -->
<div class="card mb-4">
  <div id="card-inner{{recipe._id}}" class="card-inner">
    <div class="flip-card-front">
      <!--Card image-->
      <div class="view overlay">
        <img
          class="card-img-top"
          src="{{
recipe.image
}}"
          alt="Card image cap"
        />
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body">
        <!--Title-->
        <h4 class="card-title">{{ recipe.recipe_title }}</h4>
        <!--Text-->
        <p class="card-text">
          <span class="badge badge-pill badge-secondary"
            >{{ recipe.recipe_type.replace("Meal", "").title() }}</span
          >
          <span class="badge badge-pill badge-secondary"
            >{{ recipe.recipe_spice.replace("Spice", "").title() }}</span
          >
          <span class="badge badge-pill badge-secondary"
            >{{ recipe.recipe_difficulty.replace("Diff", "").title() }}</span
          >

          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
          <button
            type="button"
            class="btn btn-light-blue btn-md card-toggle{{recipe._id}}"
          >
            Read more
          </button>
        </p>
      </div>
    </div>
    <div class="flip-card-back">
      <p class="card-text">{{ recipe.recipe_description }}</p>
    </div>
  </div>
</div>

   <script defer>
  // toggle flip card
  $(".card-toggle{{recipe._id}}").click(function (e) {
    e.preventDefault();
    $("#card-inner{{recipe._id}}").toggleClass("flip-vertical-left");
  });
</script>