<!-- card layout from https://www.creative-tim.com/product/rotating-css-card -->
<div class="card-container">
  <div class="card">
    <div class="front">
      <div class="cover">
        <img src="{{ url_for('static', filename='images/thumbs/')
        }}{{recipe.recipe_type}}.png" alt="{{recipe.recipe_type}}" />
      </div>
      <div class="user bg-pan-right">
        <img
          class="img-circle "
          src="{{
recipe.image
}}"
        />
      </div>
      <div class="content">
        <div class="main">
        <p class="profession">
            <span class="badge badge-pill badge-secondary"
              >{{ recipe.recipe_type.replace("Meal", "").title() }}</span
            >
            <span class="badge badge-pill badge-secondary"
              >{{ recipe.recipe_spice.replace("Spice", "").title() }}</span
            >
            <span class="badge badge-pill badge-secondary"
              >{{ recipe.recipe_difficulty.replace("Diff", "").title() }}</span
            >
          </p>
          <h3 class="name">{{ recipe.recipe_title }}</h3>
          
        </div>
        
      </div>
    </div>
    <!-- end front panel -->
    <div class="back">
      <div class="content">
        <div class="main">
          
          <p class="text-center">
            {{ recipe.recipe_description }}
          </p>

          <div class="stats-container">
            <div class="stats">
              <h4>{{ recipe.recipe_prep }}</h4>
              <p>
                Mins
              </p>
            </div>
            <div class="stats">
              <h4>{{ recipe.recipe_servings }}</h4>
              <p>
                Portions
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <a href="" class="name"><span class="badge badge-pill badge-secondary"
              >More Info</span
            ></a>
      </div>
    </div>
  </div>
  <!-- end back panel -->
</div>
<!-- end card -->

<!-- end card-container -->
