<!-- card layout from https://www.creative-tim.com/product/rotating-css-card -->
<!-- data-category here features all searchable content -->
<div
  class="card-container recipe-card"
  data-role="recipe"
  data-id="{{recipe.title}}"
  data-category="{{recipe.recipe_cuisine}} 
  {{recipe.recipe_type}} 
  {{recipe.recipe_spice}} 
  {{recipe.recipe_difficulty}} 
  {% for key, value in recipe.recipe_diet.items() %}
  {%if value == 'on' %}
  {{key}}
  {%endif%}
  {%endfor%}
  {% for key, value in recipe.recipe_allergens.items() %}
  {%if value == 'on' %}
  {{key}}
  {%endif%}
  {%endfor%}"
>
  <div class="card" id="{{recipe._id}}">
    <div class="front">
      <div class="cover">
        <!-- displays a different thumb depending on the type of meal -->
        <img
          src="{{ url_for('static', filename='images/thumbs/')
        }}{{recipe.recipe_type}}.png"
          alt="{{ recipe.recipe_type.replace('Meal.png', '').title() }} thumbnail"
        />
      </div>
      <div class="user bg-pan-right">
        <!-- displays the recipe image in the round  -->
        {%if recipe.image == ""%} <img class="img-circle"
        src="{{url_for('static',filename='images/default/default-recipe.jpg')}}
        alt="spices and ingredients"" /> {%else%}
        <img
          class="img-circle"
          src="{{recipe.image}}"
          alt="{{ recipe.recipe_title }}"
        />{%endif%}
      </div>
      <div class="content">
        <div class="main">
          <p class="profession">
            <span class="badge badge-pill badge-secondary"
              >{{ recipe.recipe_type.replace("Meal", "").title() }}</span
            >
            {%if recipe.recipe_spice == None %}{%else%}
            <span class="badge badge-pill badge-secondary"
              >{{ recipe.recipe_spice.replace("Spice", "").title() }}</span
            >
            {%endif%} {%if recipe.recipe_difficulty == None %}{%else%}
            <span class="badge badge-pill badge-secondary"
              >{{ recipe.recipe_difficulty.replace("Diff", "").title() }}</span
            >{%endif%}
          </p>
          <h3 class="name">{{ recipe.recipe_title }}</h3>
        </div>
      </div>
      <div class="front-footer justify-content-center">
        <p>
          {{recipe.recipe_cuisine.replace("Cuisine", "").replace("_", "
          ").title() }}
        </p>
      </div>
    </div>
    <!-- end front panel -->
    <div class="back">
      <div class="content">
        <div class="stats-container">
          <div class="stats">
            <h4>{{ recipe.recipe_prep }}</h4>
            <p>
              Mins
            </p>
          </div>
          <div class="stats">
            <h4>{{ recipe.recipe_servings }}</h4>
            <p>
              Portions
            </p>
          </div>
        </div>
        <div class="main">
          <p class="text-center">
            {{ recipe.recipe_description }}
          </p>
        </div>
      </div>
      <div class="footer">
        <a href="{{ url_for('recipe', recipe_id=recipe._id) }}" class="name"
          ><span class="badge badge-pill badge-secondary">More Info</span></a
        >
      </div>
    </div>
  </div>
  <!-- end back panel -->
</div>
<!-- end card -->

<!-- end card-container -->
