{% extends 'base.html' %} {% block content %}
<div class="container">
  <!-- Form for adding recipes -->
  <form action="{{url_for('insert_recipe')}}" method="POST" autocomplete="off">
    <div class="">
      <div class="fields">
        <div class="form-row align-items-center">
          <div class="form-group col-8">
            <label for="recipe_title" class="bmd-label-floating"
              >Title<span class="align-top muted asterisk">*</span></label
            >

            {{ form.recipe_title(id="recipe_title", class="validate
            form-control", minlength="3", maxlength="30",
            render_kw={'autofocus': True}, render_kw={'required': True}) }}

            <span class="bmd-help">Max 30 letters</span>
          </div>
          <div class="form-group col-4">
            <label for="recipe_prep" class="bmd-label-floating"
              >Prep Time<span class="align-top muted asterisk">*</span></label
            >

            {{ form.recipe_prep(id="recipe_prep", class="validate form-control",
            render_kw={'required': True}) }}

            <span class="bmd-help">In minutes</span>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-8">
            <label for="image" class="bmd-label-floating">Image Url</label>

            {{ form.image(id="image", class="validate form-control")}}
            <span class="bmd-help"
              >Please provide full URL starting with http://</span
            >
          </div>
          <div class="form-group col-4">
            <label for="recipe_servings" class="bmd-label-floating"
              >Servings<span class="align-top muted asterisk">*</span></label
            >
            {{ form.recipe_servings(id="recipe_servings", class="validate
            form-control", render_kw={'required': True})}}

            <span class="bmd-help">Full number only</span>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-12">
            <label for="recipe_description" class="bmd-label-floating"
              >Description<span class="align-top muted asterisk">*</span></label
            >
            {{ form.recipe_description(id="recipe_description", class="validate
            form-control", minlength="10", maxlength="150",
            rows="5",render_kw={'required': True}) }}

            <span class="bmd-help">Max 150 letters</span>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-12">
            <label for="recipe_ingredients" class="bmd-label-floating"
              >Ingredients<span class="align-top muted asterisk">*</span></label
            >{{ form.recipe_ingredients(id="recipe_ingredients", class="validate
            form-control", minlength="10", rows="10",
            render_kw={'required': True}) }}

            <span class="bmd-help">Use a new line for each ingredient</span>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-12">
            <label for="recipe_method" class="bmd-label-floating"
              >Method<span class="align-top muted asterisk">*</span></label
            >
            {{ form.recipe_method(id="recipe_method", class="validate
            form-control", minlength="10", rows="10",
            render_kw={'required': True}) }}

            <span class="bmd-help">Use a new line for each step</span>
          </div>
        </div>
      </div>
      <!-- Checkbox section -->
      <div class="form-row justify-content-center">
        <div class="col-4">
          <h3>Cuisine<span class="align-top muted asterisk">*</span></h3>
          <small class="muted">Select One</small>
          <ul id="cuisine-list" class="list-unstyled no-bullet">
            <!-- loop through all cuisines  -->
            {% for each in cuisines %}
            <li class="">
              <div class="form-check">
                <input
                  type="radio"
                  name="cuisine"
                  class="custom-control-input"
                  id="{{each.cuisine}}Cuisine"
                  value="{{each.cuisine}}Cuisine"
                  required
                />
                <label
                  class="custom-control-label"
                  for="{{each.cuisine}}Cuisine"
                  >{{each.cuisine.replace("_", " ").title()}}</label
                >
              </div>
            </li>
            {%endfor%}
          </ul>
        </div>

        <div class="col-4">
          <h3>Spice</h3>
          <small class="muted">Select One</small>
          <ul class="list-unstyled no-bullet">
            {% for each in spice %}
            <li>
              <div class="custom-control form-check">
                <input
                  type="radio"
                  name="spice"
                  class="custom-control-input"
                  id="{{each.spice}}Spice"
                  value="{{each.spice}}Spice"
                />
                <label class="custom-control-label" for="{{each.spice}}Spice"
                  >{{each.spice.replace("_", " ").title()}}</label
                >
              </div>
            </li>
            {%endfor%}
          </ul>

          <h3>Diet</h3>
          <small class="muted">Select Applicable</small>
          <ul class="list-unstyled no-bullet">
            {% for each in diet %}
            <li>
              <div class="custom-control form-check">
                <input
                  type="checkbox"
                  name="{{each.diet}}Diet"
                  class="custom-control-input"
                  id="{{each.diet}}Diet"
                />
                <label class="custom-control-label" for="{{each.diet}}Diet"
                  >{{each.diet.replace("_", " ").title()}}</label
                >
              </div>
            </li>
            {%endfor%}
          </ul>

          <h3>Type<span class="align-top muted asterisk">*</span></h3>
          <small class="muted">Select One</small>
          <ul class="list-unstyled no-bullet">
            {% for each in type %}
            <li>
              <div class="custom-control form-check">
                <input
                  type="radio"
                  name="meal"
                  class="custom-control-input"
                  id="{{each.type}}Meal"
                  value="{{each.type}}Meal"
                  required
                />
                <label class="custom-control-label" for="{{each.type}}Meal"
                  >{{each.type.replace("_", " ").title()}}</label
                >
              </div>
            </li>
            {%endfor%}
          </ul>
        </div>

        <div class="col-4">
          <h3>Difficulty</h3>
          <small class="muted">Select One</small>
          <ul class="list-unstyled no-bullet">
            {% for each in difficulty %}
            <li>
              <div class="custom-control form-check">
                <input
                  type="radio"
                  name="difficulty"
                  class="custom-control-input"
                  id="{{each.difficulty}}Diff"
                  value="{{each.difficulty}}Diff"
                />
                <label
                  class="custom-control-label"
                  for="{{each.difficulty}}Diff"
                  >{{each.difficulty.replace("_", " ").title()}}</label
                >
              </div>
            </li>
            {%endfor%}
          </ul>

          <h3>Allergen</h3>
          <small class="muted">Select Applicable</small>
          <ul class="list-unstyled no-bullet">
            {% for each in allergens %}
            <li>
              <div class="custom-control form-check">
                <input
                  type="checkbox"
                  name="{{each.allergen}}Allergy"
                  class="custom-control-input"
                  id="{{each.allergen}}Allergy"
                />
                <label
                  class="custom-control-label"
                  for="{{each.allergen}}Allergy"
                  >{{each.allergen.replace("_", " ").title()}}</label
                >
              </div>
            </li>
            {%endfor%}
          </ul>
        </div>
      </div>

      <!-- Submit/cancel buttons -->
      <div class="form-btns">
        <a href="{{url_for('home')}}"
          ><button class="btn btn-default">Cancel</button></a
        >
        <button type="submit" name="action" class="btn btn-primary btn-raised">
          Submit
        </button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
