{% extends 'base.html' %} {% block content %}
<div class="container input-group mt-5">
<form action="{{url_for('insert_recipe')}}" method="POST">
  <div class="row"></div>
  <div class="col-4">
    <h3>Cuisine</h3>
    <ul>
      {% for each in cuisines %}
      <li>
        <div class="custom-control custom-switch">
          <input
            type="radio"
            name="{{each.cuisine}}Cuisine"
            class="custom-control-input"
            id="{{each.cuisine}}Switch"
          />
          <label class="custom-control-label" for="{{each.cuisine}}Cuisine"
            >{{each.cuisine}}</label
          >
        </div>
      </li>
      {%endfor%}
    </ul>
  </div>

  <div class="col-4">
    <h3>Spice</h3>
    <ul>
      {% for each in spice %}
      <li>
        <div class="custom-control custom-switch">
          <input
            type="radio"
            name="{{each.spice}}Spice"
            class="custom-control-input"
            id="{{each.spice}}Spice"
          />
          <label class="custom-control-label" for="{{each.spice}}Spice"
            >{{each.spice}}</label
          >
        </div>
      </li>
      {%endfor%}
    </ul>

    <h3>Diet</h3>
    <ul>
      {% for each in diet %}
      <li>
        <div class="custom-control custom-switch">
          <input
            type="checkbox"
            name="{{each.diet}}Diet"
            class="custom-control-input"
            id="{{each.diet}}Diet"
          />
          <label class="custom-control-label" for="{{each.diet}}Diet"
            >{{each.diet}}</label
          >
        </div>
      </li>
      {%endfor%}
    </ul>

    <h3>Type</h3>
    <ul>
      {% for each in type %}
      <li>
        <div class="custom-control custom-switch">
          <input
            type="radio"
            name="{{each.type}}Meal"
            class="custom-control-input"
            id="{{each.type}}Meal"
          />
          <label class="custom-control-label" for="{{each.type}}Meal"
            >{{each.type}}</label
          >
        </div>
      </li>
      {%endfor%}
    </ul>
  </div>

  <div class="col-4">
    <h3>Difficulty</h3>
    <ul>
      {% for each in difficulty %}
      <li>
        <div class="custom-control custom-switch">
          <input
            type="radio"Allergy
            name="{{each.difficulty}}Diff"
            class="custom-control-input"
            id="{{each.difficulty}}Diff"
          />
          <label class="custom-control-label" for="{{each.difficulty}}Diff"
            >{{each.difficulty}}</label
          >
        </div>
      </li>
      {%endfor%}
    </ul>

    <h3>Allergen</h3>
    <ul>
      {% for each in allergens %}
      <li>
        <div class="custom-control custom-switch">
          <input
            type="checkbox"
            name="{{each.allergen}}Allergy"
            class="custom-control-input"
            id="{{each.allergen}}Allergy"
          />
          <label class="custom-control-label" for="{{each.allergen}}Allergy"
            >{{each.allergen}}</label
          >
        </div>
      </li>
      {%endfor%}
    </ul>
  </div>

  <div class="flex-row">
    <div class="form-group col-8">
      <label for="recipe_title" class="bmd-label-floating">Title</label>
      <input
        type="text"
        class="form-control"
        id="recipe_title"
        name="recipe_title"
      />
    </div>
    <div class="form-group col-2">
      <label for="recipe_prep" class="bmd-label-floating">Prep Time</label>
      <input
        type="text"
        class="form-control"
        id="recipe_prep"
        name="recipe_prep"
      />
    </div>
    <div class="form-group col-2">
      <label for="recipe_servings" class="bmd-label-floating">Servings</label>
      <input
        type="text"
        class="form-control"
        id="recipe_servings"
        name="recipe_servings"
      />
    </div>
  </div>
  <div class="flex-row">
    <div class="form-group col-8">
      <label for="recipe_description" class="bmd-label-floating"
        >Description</label
      >
      <textarea
        class="form-control"
        id="recipe_description"
        name="recipe_description"
        flex-rows="3"
      ></textarea>
      <span class="bmd-help">Max 300 letters</span>
    </div>
  </div>

  <div class="flex-row">
    <div class="form-group col-8">
      <label for="recipe_ingredients" class="bmd-label-floating"
        >Ingredients</label
      >
      <textarea
        class="form-control"
        id="recipe_ingredients"
        name="recipe_ingredients"
        flex-rows="3"
      ></textarea>
      <span class="bmd-help">Use a new line for each ingredient</span>
    </div>
  </div>

  <div class="flex-row">
    <div class="form-group col-8">
      <label for="recipe_method" class="bmd-label-floating">Method</label>
      <textarea
        class="form-control"
        id="recipe_method"
        name="recipe_method"
        flex-rows="3"
      ></textarea>
      <span class="bmd-help">Use a new line for each step</span>
    </div>
        <div class="form-group col-8">
      <label for="image" class="bmd-label-floating">Image Url</label>
      <input
        type="text"
        class="form-control"
        id="image"
        name="image"
      />
    </div>

    <a href="{{url_for('home')}}"
      ><button class="btn btn-default">Cancel</button></a
    >

    <button type="submit" name="action" class="btn btn-primary btn-raised">Submit</button>
  </div>
  </form>
</div>

{% endblock %}
