{% extends 'base.html' %}{% block content %}
<div class="container">
<div class="btn-group">
  <button class="btn dropdown-toggle" type="button" id="buttonMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   <h2>{{ recipe.recipe_title }}</h2>
  </button>
  <div class="dropdown-menu" aria-labelledby="buttonMenu1">
    <a class="dropdown-item" href="{{url_for('edit_recipe', recipe_id=recipe._id)}}">Edit</a>
    {% if recipe.default == None%}    <a class="dropdown-item" href="{{url_for('delete_recipe', recipe_id=recipe._id)}}">Delete</a>
    {% else %}
    <a class="dropdown-item disabled" href="{{url_for('cannot_delete_recipe', recipe_id=recipe._id)}}">Cannot be Deleted</a>
    

    {%endif%}
  </div>
</div>
  
  <span class="badge badge-pill badge-secondary">{{ recipe.recipe_type.replace("Meal", "").title() }}</span> 
  
  {%if recipe.recipe_spice == None %}{%else%}<span class="badge badge-pill badge-secondary">{{
  recipe.recipe_spice.replace("Spice", "").title() }}</span> 
 {%endif%} 

 {%if recipe.recipe_difficulty == None %}{%else%}
  <span class="badge badge-pill badge-secondary">{{
  recipe.recipe_difficulty.replace("Diff", "").title() }}</span>
  {%endif%}

  <p>{{ recipe.recipe_description }}</p>  <ul class="no-bullet">
    {% for key, value in recipe.recipe_allergens.items() %}{%if value == "on"%}
    <li><img class="recipe-icon" src="{{ url_for('static', filename='images/icons/') }}{{key}}.png" alt="{{key.replace('_', '')}}">
</li>
    {%endif%} {%endfor%}
  </ul>

  <p>{{ recipe.recipe_prep }} mins</p> <p>{{ recipe.recipe_servings }} portions</p>
 <h4>Ingredients</h4>
  <ul class="no-bullet">
    {% for item in recipe.recipe_ingredients %}
    <li>{{item}}</li><hl>
    {%endfor%}
  </ul>
  <h4>Method</h4>
  <ul class="no-bullet">
    {% for item in recipe.recipe_method %}
    <li>{{item}}</li><br>
    {%endfor%}
  </ul>

  
  <ul class="no-bullet">
    {% for key, value in recipe.recipe_diet.items() %}{%if value == "on"%}
    <li>{{key.replace("_", " ").title()}}</li>
    {%endif%} {%endfor%}
  </ul>




  <img
    src="{{
recipe.image
}}"
    alt="image of {{ recipe.recipe_title }}"
    srcset=""
  />
</div>


{% endblock %}
