{% extends 'base.html' %}{% block content %}
<div class="container">
  <div class="">
    <header class="bmd-layout-header">
      <div class="">
        <h1 class="m-5">{{title}}</h1>
        <!-- search form -->
        <div class="bmd-form-group bmd-collapse-inline pull-xs-right m-3">
          <button
            class="btn bmd-btn-icon"
            for="search"
            data-toggle="collapse"
            data-target="#collapse-search"
            aria-expanded="false"
            aria-controls="collapse-search"
          >
            <i class="material-icons">search</i>
          </button>
          <span id="collapse-search" class="collapse">
            <input
              class="form-control"
              type="text"
              id="search"
              placeholder="Search recipe titles, descriptions, cuisine, dietary requirement, difficulty or meal..."
            />
          </span>
        </div>
      </div>
    </header>
    

  <!-- Card deck -->
  <div class="card-deck">
    <!-- Card -->

    {% for recipe in recipe %}
    <div class="col-lg-4 col-sm-6" data-role="recipe">
      {% include "partial-templates/cards.html" %}
    </div>
    {% endfor %}


    <!-- /Card -->
  </div>
  <!-- /Card deck -->
</div>

{% endblock %}
