{% extends 'base.html' %}{% block content %}
<div class="container">
  <div class="">
    <header class="bmd-layout-header">
      <div class="">
        <!-- <button
          class="navbar-toggler"
          type="button"
          data-toggle="drawer"
          data-target="#dw-s1"
        >
          <span class="sr-only">Toggle drawer</span>
          <i class="material-icons">menu</i>
        </button> -->
        <!-- search form -->
        <div class="bmd-form-group bmd-collapse-inline pull-xs-right m-5">
          <button
            class="btn bmd-btn-icon"
            for="search"
            data-toggle="collapse"
            data-target="#collapse-search"
            aria-expanded="false"
            aria-controls="collapse-search"
          >
            <i class="material-icons">search</i>
          </button>
          <span id="collapse-search" class="collapse">
            <input
              class="form-control"
              type="text"
              id="search"
              placeholder="Enter your query..."
            />
          </span>
        </div>
      </div>
    </header>
    

  <!-- Card deck -->
  <div class="card-deck">
    <!-- Card -->

    {% for recipe in recipe %}
    <div class="col-lg-4 col-sm-6" data-role="recipe">
      {% include "partial-templates/cards.html" %}
    </div>
    {% endfor %}

    <!-- </div> -->
    <!-- /Card deck -->
  </div>
  <!-- /Card deck -->
</div>

{% endblock %}
